@font-face{
font-family: "Raleway";
src: local("Font/Raleway-LightItalic.ttf");
}

* {
    box-sizing: border-box;
    font-family:Raleway;
    color: #777;
}

html, body{
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .1cm;
    color: white;
    text-decoration: none;
}

.main-nav{
    text-align: center;
    font-size: .70cm;
    font-weight: lighter;
    border-bottom: 1px solid (rgba225, 255, 255, .3);
}

.main-nav li{
    padding: 0 5%;
}

.nav a:hover{
    background-color:  rgba(225, 255, 255, .3);
}

.main-header{
    background-color: rgba (0, 0, 0, .6);
    background-image: url("images/dark-musical-image.jpg");
    background-blend-mode: multiply;
    padding-bottom: 30px;
}

.band-name{
    text-align: center;
    margin: 0;
    font-size: 2cm;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: rgba(57, 128, 128, 0.3);
    
}

.band-name-large{
    font-size: 2cm;
}

.content-section{
    margin: 1cm;
}

.container{
    max-width:0 900px;
    margin: 0 auto;
    padding: 0 1.5cm;
}

.section-header{
    font-family: cursive;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 1.0cm;
}

.about-band-image{
    float: left;
    height: 250px;
    width: 250px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer{
    background-color: rgb(8, 22, 63);
    color: white;
    padding: .25em 0;
}

.main-footer-container{
     display: flex;
     align-items: center;
}

.main-footer-container{
    flex-grow: 1;
    text-align: end;
}

.footer-nav li{
    padding: 0 .05cm;
}

.footer-nav img{
    width: 30px;
    height: 30px;
    align-items: flex-end;
}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header{
    margin: .5em 15% 2em 15%;
    color:rgb(240, 198, 198);
    border: 2px solid #2d9cdb;
    background-color: rgba(225, 255, 255, .1);
    border-radius: 0%;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover{
    background-color: rgba(225, 255, 255, .3);
}

.btn-play{
    display: block;
    margin: 0 auto;
    color: #2d9cdb;
   font-size: 4em;
   border-radius: 50%;
   padding: 0;
   width: 100px;
   height: 100px;
}
.btn-play:hover{
    background-color: rgba(225, 255, 255, .3);
}

.tour-row{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.tour-row:last-child{
    border-bottom: none;
}

.tour-item{
    display: inline-block;
    padding-right: .5em;
}

.tour-date{
    color: #555;
    font-weight: bold;
    width: 10%;
}

.tour-city{
   width: 15%; 
}

.tour-arena{
    width: 30%;
}

.tour-btn{
    max-width: 15%;
} 
 
.btn-primary{
    color: white;
    background-color: rgb(95, 129, 160);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #2d9cdb;
}

.shop-item{
    margin: 30px;
}

.shop-item-title{
    display: block;
    width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image{
    height:250px
}

.shop-item-details{
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price{
    color: #333;
}

.cart-header{
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}



cart-row{
    display: flex;
}

cart-item{
    width: 45%;
}

cart-price{
    width: 20%;
}

cart-quantity{
    width: 35%;
}